<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add product</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">name of the product</label>
        <input name="name" type="text" >

        <label for="code">a unique code for your product</label>
        <input name="code" type="text">

        <label for="image">product image</label>
        <input name="image" type="file">

        <label for="cost">cost price per unit</label>
        <input name="cost" type="currency">

        <label for="sellingPrice">selling price per unit</label>
        <input name="sellingPrice" type="currency">

        <label for="quantity">enter the Quantity</label>
        <input name="quantity" type="number">

        <button type="submit">save</button>
    </form>
</body>
</html>