<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoicing</title>
</head>
<body>
    <form action="" style="border: 2px solid red;">
        <h1>INVOICE</h1>
        <img src="" alt="logo">
        <h1>company details </h1><h2>customer details</h2>

        <table>
            <tr>
                <th>product code</th>
                <th>Product name</th>
                <th>qty</th>
                <th>unity price</th>
                <th>total price</th>
            </tr>
            <tr>
                <td><select name="produuct_code" id=""></select></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

    </form>
</body>
</html>